.label, #price-filter, #keywordsearchfield{
    display: block;
}
div.text-center {
    text-align: center;
}
#searchOptions {
    visibility: hidden;
}

.item {
    margin-bottom: 15px;
}
#location {
    font-size: 12px;
    margin-bottom:10px;
}

h4, h1, h2, div {
    margin-bottom: 20px;
}

.load-button {

    text-align: center;
    width: 150px;
}

@media screen and (max-width: 768px) {
    .load-button {width:90%; display:block;}

}

p,li {
    font-size: 14px;
}
span.stars, span.stars span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
